@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, span {
    padding: 0;
    margin: 0;
    text-align: center;
}
h1, h2, h3 {
    line-height: 1.5;
}
.container {
    margin: 0 auto;
    margin-top: 30px;
    width: 250px;
}

.total {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
}
.total__header{
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total__balance {
    font-size: 28px;
    font-weight: bold;
}
.total__main{
    display: flex;
    justify-content: space-between;
}
.total__main-item {
    flex: 1;
    text-align: center;
    padding-top: 15px;
}
.total__main-item:first-child {
    border-right: 1px solid #ccc;
}
.total__money {
    font-size: 24px;
    line-height: 1.5;
}
.total__money-income {
    color: darkgreen;
}
.total__money-expense {
    color: tomato;
}

.history {
    margin-top: 40px;
}
.history__item {
    align-items: center;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-left: 10px solid;
    border-right: 10px solid;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
}
.history__item-plus {
    border-left-color:  darkgreen;
    border-right-color: darkgreen;
}
.history__item-minus {
    border-left-color:  tomato;
    border-right-color: tomato;
}
.history__delete {
    background-color: transparent;
    color: red;
    padding: 0 10;
    border-width: 0;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
.history__item:hover .history__delete {
    opacity: 1;
}
